(defcfg
  ;; Place your OS specific configurations here, see: https://github.com/jtroo/kanata
 process-unmapped-keys yes
)

;; The config below uses ANSI, if you are on ISO you will have to modify it (did it).
(defsrc
  grv       1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab       q    w    e    r    t    y    u    i    o    p    [    ]    
  caps      a    s    d    f    g    h    j    k    l    ;    '    \    ret
  lsft      z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)

;; Default layout  
(deflayer qwerty
  @grl      1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab       q    w    e    r    t    y    u    i    o    p    [    ]    
  caps      a    s    d    f    g    h    j    k    l    ;    '    \    ret
  lsft      z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)

;; Gallium Rowstag angle modded
(deflayer gallium
  @grl      1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab       b    l    d    c    z    j    f    o    u    ,    [    ]    
  caps      n    r    t    s    v    y    h    a    e    i    /    \    ret
  lsft      q    m    w    g    x    k    p    '    ;    .    rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)

;; Graphite angle modded 
(deflayer graphite 
  @grl      1    2    3    4    5    6    7	   8	9	 0	  [	   ]    bspc
  tab		b    l    d    w    z    '    f    o    u    j    ;    = 
  caps		n    r    t    s    g    y    h    a    e    i    ,    \    ret
  lsft	    x    m    c    v    q    k    p    .    -    /   rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)

;; APT V3 angle modded
(deflayer aptv3
  @grl      1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab       w    g    d    f    b    q    l    u    o    y    [    ]
  caps      r    s    t    h    k    j    n    e    a    i    ;    \    ret
  lsft      c    m    p    v    x    z    ,    .    '    /    rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)

#|

;; Gallium Rowstag
"(deflayer gallium
  @grl      1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab       b    l    d    c    v    j    f    o    u    ,    [    ]    \
  caps      n    r    t    s    g    y    h    a    e    i    /         ret
  lsft      x    q    m    w    z    k    p    '    ;    .    rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)"

;; Gallium Rowstag angle modded QX swap reversed
"(deflayer gallium
  @grl      1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab       b    l    d    c    z    j    f    o    u    ,    [    ]    
  caps      n    r    t    s    v    y    h    a    e    i    /    \    ret
  lsft      x    m    w    g    q    k    p    '    ;    .    rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)"

;; Graphite
(deflayer graphite
  @grl      1    2    3    4    5    6    7    8    9    0    [    ]    bspc
  tab       b    l    d    w    z    '    f    o    u    j    ;    =
  caps      n    r    t    s    g    y    h    a    e    i    ,    \    ret
  lsft      q    x    m    c    v    k    p    .    -    /   rsft
  lctl lmet lalt           spc                 ralt rmet rctl
)

|#

(defalias
  ;; tap: backtick (grave), hold: toggle layer-switching layer while held
  grl (tap-hold 200 200 grv (layer-toggle layers))
  gal (layer-switch gallium)
  qwr (layer-switch qwerty)
  gra (layer-switch graphite)
  apt (layer-switch aptv3)
)

(deflayer layers
  _    @qwr @gal @gra @apt _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _    _    _    _    _    _    _    _    _    _
  _    _    _              _              _    _    _
)
